<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Series</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pesquisa container mt-2">
    <div class="pesquisaInput">
      <input class="form-control" type="text" name="pesquisa" id="pesquisa" [(ngModel)]="pesquisa">
    </div>
    <button class="btn btn-primary ml-2" (click)="pesquisar()">Pesquisar</button>
  </div>
  <ion-card *ngFor="let serie of series">
    <ion-card-header>
      <img class="img-fluid" src={{linkImagem+serie.poster_path}} alt={{serie.title}}>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>{{ serie.name }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ serie.overview }}
      <p>Nota: {{ serie.vote_average }}</p>
    </ion-card-content>
    <div class="buttons">
      <button class="btn btn-primary mr-2" (click)="salvarFilme(serie)">Adicionar a sua lista</button>
      <button class="btn btn-primary" (click)="buscarTrailer(serie.id, serie.name)">Reproduzir Trailer</button>
    </div>
    <div id={{serie.name}}></div>
    <div *ngIf="mostrarTrailer" class="d-flex align-items-center">
      <button class="btn btn-danger m-3 w-100" (click)="fecharTrailer(serie.name)">Fechar Trailer</button>
    </div>
  </ion-card>
</ion-content>
