<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- [fullscreen]="true" -->
<ion-content>
  <div class="pesquisa container mt-2">
    <div class="pesquisaInput">
      <input class="form-control" type="text" name="pesquisa" id="pesquisa" [(ngModel)]="pesquisa">
    </div>
    <button class="btn btn-primary ml-2" (click)="pesquisar()">Pesquisar</button>
  </div>
  <ion-card *ngFor="let filme of filmes">
    <ion-card-header>
      <img class="img-fluid" src={{linkImagem+filme.poster_path}} alt={{filme.title}}>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>{{ filme.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ filme.overview }}
      <p>Nota: {{ filme.vote_average }}</p>
    </ion-card-content>
    <div class="buttons">
      <button class="btn btn-primary mr-2" (click)="salvarFilme(filme)">Adicionar a sua lista</button>
      <button class="btn btn-primary" (click)="buscarTrailer(filme.id, filme.title)">Reproduzir Trailer</button>
    </div>
    <div id={{filme.title}}></div>
    <div *ngIf="mostrarTrailer" class="d-flex align-items-center">
      <button class="btn btn-danger m-3 w-100" (click)="fecharTrailer(filme.title)">Fechar Trailer</button>
    </div>
  </ion-card>
</ion-content>
